/* STATIC*/ 

*/
body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mainbox{
    width: 100%;
    height: 100vh;
}
.background{
    position: relative;
    z-index: 1;
}
.starsimage{
    width: 100%;
    z-index: 1;

}
.road{
    position: absolute;
    bottom: -5px;
    width: 150%;
    z-index: 2;
}
.roadpic{
    width:67.5%;
}

/* MOVING PARTS */



.car{
    position: absolute;
    bottom: 32%;
    left: 1000px;
    z-index: 3;
    transform: translate(-1500px);
    transition-property: all;
	transition-duration: 2.3s;
	transition-timing-function: linear;
    transition-delay: 0.7s;
    animation: carfade 2.7s linear;

}
.carpic{
    width: 70%;
}
.flame{
    position: absolute;
    bottom: 32%;
    left: 1200px;
    z-index: 3;
    transform: translate(-1500px);
    transition-property: all;
	transition-duration: 2.3s;
	transition-timing-function: linear;
    transition-delay: 0.7s;
    animation: flamingtire 2.7s linear infinite;
}


/*#flame{
    animation: flamingtiremove 2s linear infinite;
    animation-delay: 0.7s;
}*/

.flamepic{
    width: 65%;
}


/*STATIC FADE/EXPAND*/

.blackhole{
    height: 50px;
    width: 50px;
    bottom: 32%;
    left: 100px;
    border-radius: 50%;
    background-color: black;
/*    transform: scale(6);
    transition: 2.7s transform;*/
/*    transform: scale(0);
    transition: 2s transform;*/
    animation: blackhole 3s linear infinite;
    position: absolute;
    z-index: 3;
}
.electric{
    position: absolute;
    bottom: 0%;
    left: -8%;
    animation: trackfadein 3s linear infinite;
    z-index: 4;
}
.electricpic{
    width: 50%;
}


.flamingroad{
    position: absolute;
    bottom: 25%;
    left: 300px;
    z-index: 3;
    animation: trackfadein 3s linear infinite;
}
.flamingroadpic{
    width: 75%;
}

/* ANIMATIONS */

@keyframes flamingtire {
    0% {opacity: 0 }
    25% {opacity: 0.7}
    50% {opacity: 0.1 }
    70% {opacity: 0.7}
    90% {opacity: 1}
    100% {opacity: 0}
  }


/*@keyframes flamingtiremove{
    100%{
        transform: translate(-1500px);
    }
}*/




  @keyframes carfade {
    0% { opacity: 1 }
    25% {opacity: 1}
    50% { opacity: 1}
    70% {opacity: 1}
    100% {opacity: 0}
  }



  @keyframes trackfadein {
    0% { opacity: 0 }
    25% {opacity: 0}
    50% { opacity: 0}
    70% {opacity: 0}
    90% {opacity: 0.9}
    100% {opacity: 1}
  }



  @keyframes blackhole{
    100%{
        transform: scale(6)
    }
  }





  /* @keyframes tireflame {
    0% {left: 1200px; opacity: 0 }
    25% {left: 975px; opacity: 0.15}
    50% {left: 750px; opacity: 0.2 }
    70% {left: 525px; opacity: 0.7}
    100% {left: 300px ; opacity: 1} 