/* STATIC*/ 


*/
body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.mainbox{
    width: 100%;
    height: 100vh;
}
.background{
    position: relative;
    z-index: 1;

}
.starsimage{
    width: 100%;
    z-index: 1;
}
.road{
    position: absolute;
    bottom: -5px;
    width: 150%;
    z-index: 2;
}
.roadpic{
    width:67.5%;
}

/* MOVING PARTS */



.car{
    position: absolute;
    bottom: 32%;
    left: 1000px;
    z-index: 3;
    animation: carmove 3s linear infinite;
/*    animation-delay: 1s;*/


/*    transform: translate(-1500px);
    transition-property: all;
	transition-duration: 2.3s;
	transition-timing-function: linear;
    transition-delay: 0.7s;
    animation: FADE-car 2.7s linear;*/

}
.carpic{
    width: 70%;
}
.flame{
    position: absolute;
    bottom: 32%;
    left: 1200px;
    z-index: 3;
    animation: flamingtiremove 3s linear infinite;
  /*  animation-delay: 1s;*/



/*    transform: translate(-1500px);
    transition-property: all;
	transition-duration: 2.3s;
	transition-timing-function: linear;
    transition-delay: 0.7s;
    animation: FADE-flamingtire 2.7s linear infinite;*/


}


/*#flame{
    animation: flamingtiremove 2s linear infinite;
    animation-delay: 0.7s;
}*/

.flamepic{
    width: 65%;
}


/*STATIC FADE/EXPAND*/

.blackhole{
    height: 50px;
    width: 50px;
    bottom: 32%;
    left: 100px;
    border-radius: 50%;
    background-color: black;
    animation: blackhole 3s linear infinite;
    position: absolute;
    z-index: 3;
}
.electric{
    position: absolute;
    bottom: 0%;
    left: -8%;
    animation: trackfadein 3s linear infinite;
    z-index: 4;
}
.electricpic{
    width: 50%;
}


.flamingroad{
    position: absolute;
    bottom: 25%;
    left: 300px;
    z-index: 3;
    animation: trackfadein 3s linear infinite;
}
.flamingroadpic{
    width: 75%;
}

.logo{
    position: absolute;
    z-index: 4;
    top: 15%;
    left: 70%;
    animation: logoanimate 3s linear infinite;
}
.logopic{
    width: 50%;
}

.marty{
    position: absolute;
    z-index: 4;
    top: 25%;
    left: 1000px;
    animation: martymove 3s linear infinite;
}
.martypic{
    width: 30%;
}
.board{
    position: absolute;
    z-index: 4;
    bottom: 32%;
    left: 100px;
    animation: boardmove 3s linear infinite;
}
.boardpic{
    width: 7%;
}



/* ANIMATIONS */

@keyframes logoanimate {
    100%{
        transform: translate(-80% );

    }
}



/*@keyframes FADE-flamingtire {
    0% {opacity: 0 }
    25% {opacity: 0.7}
    50% {opacity: 0.1 }
    70% {opacity: 0.7}
    90% {opacity: 1}
    100% {opacity: 0}
  }*/

@keyframes martymove{
    0% {transform: translate(-240px, 0px); opacity: 1}
    25% {transform: translate(-480px, 0px); opacity: 1}
    50% {transform: translate(-720px, 50px); opacity: 0.6}
    75% {transform: translate(-960px, 70px); opacity: 0}
    100% {transform: translate(-1200px, 90px); opacity: 0}
}
@keyframes flamingtiremove{
    0% {transform: translate(-240px); opacity: 0}
    25% {transform: translate(-480px); opacity: 0.7}
    50% {transform: translate(-720px); opacity: 0.1}
    75% {transform: translate(-960px); opacity: 0.7}
    100% {transform: translate(-1200px); opacity: 1}
}
@keyframes carmove{
    0% {transform: translate(-240px); opacity: 1}
    25% {transform: translate(-480px); opacity: 1}
    50% {transform: translate(-720px); opacity: 0.85}
    75% {transform: translate(-960px); opacity: 0}
    100% {transform: translate(-1200px); opacity: 0}
}
@keyframes boardmove{
    0% {transform: translate(0px, 0px); opacity: 0}
    25% {transform: translate(0px, 0px); opacity: 0}
    50% {transform: translate(0px, 0px); opacity: 0}
    100% {transform: rotate(65deg) translate(100px, 80px); opacity: 1}
/*    100% {transform: rotate(-30deg) translate(110px, 95px); opacity: 1}*/
}



/*  @keyframes FADE-car {
    0% { opacity: 1 }
    25% {opacity: 1}
    50% { opacity: 1}
    70% {opacity: 1}
    100% {opacity: 0}
  }*/



  @keyframes trackfadein {
    0% { opacity: 0 }
    25% {opacity: 0}
    50% { opacity: 0}
    70% {opacity: 0}
    90% {opacity: 0.9}
    100% {opacity: 1}
  }



  @keyframes blackhole{
    100%{
        transform: scale(6)
    }
  }





  /* @keyframes tireflame {
    0% {left: 1200px; opacity: 0 }
    25% {left: 975px; opacity: 0.15}
    50% {left: 750px; opacity: 0.2 }
    70% {left: 525px; opacity: 0.7}
    100% {left: 300px ; opacity: 1} 